body {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px dotted;
}
.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}
.nav-icon {
    width: 4%;
    height: 4%;
}
.nav-linkPage {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}