/*
Color Pallete
    --raisin-black: #252323ff;
    --slate-gray: #70798cff;
    --isabelline: #f5f1edff;
    --bone: #dad2bcff;
    --grullo: #a99985ff;
*/
body {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #f5f1edff;
    color: #252323ff;
}
.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}
.nav-icon {
    width: 4%;
    height: 4%;
}
.nav-linkPage {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
}
.main-CenterTxt {
    display: flex;
    margin-top: 10rem;
}
.mCt-Portrait  {
    max-width: fit-content;
    max-height: 20rem;
    border-radius: 1rem;
}
.hero-cnt {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}